@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  color: white;
  scrollbar-color: #333 #222;
  -moz-scrollbar-color: #333 #222;
}

.border {
  border: 2px solid red;
  margin: 3px;
}

.invert {
  filter: (1);
}

.visible {
  left: 0!important;
}
.active{
  background-color: #2d2d2d;
}